@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin btn($padding: 10px 20px, $bgc: blue, $color: white) {
  padding: $padding;
  background-color: $bgc;
  color: $color;
}

@mixin box($width: 100px, $height: 100px, $borderRadius: 50%, $bgc: yellow) {
  width: $width;
  height: $height;
  border-radius: $borderRadius;
  background-color: $bgc;
}
