/* * {
  background-color: aqua;
  margin: 0;
} */
/* body {
  background-color: aqua;
}
ul {
  list-style-type: circle;
} */
/* body ul {
  color: red;
} */
/* body > ul {
  color: red;
}
body {
  background-color: rgb(229, 255, 127);
}
body > p {
  background-color: aqua;
}
.div1 > p {
  background-color: red;
} */
/* .paragraf,
h5 {
  color: red;
} */
/* p + h5 {
  color: red;
} */
/* p ~ h5 {
  color: red;
} */
/* p:hover {
  color: blueviolet;
} */
/* a:active {
  background-color: aqua;
}
a:visited {
  background-color: red;
  color: aquamarine;
}
a:link {
  color: brown;
} */
/* .list.list1 {
  color: red;
} */
/* .list.list1 {
  color: red;
}
p#par1 {
  color: cadetblue;
} */
/* [class] {
  background-color: aqua;
} */
/* p {
  background-color: red;
} */
/* p[class] {
  background-color: aqua;
} */
/* li:first-child {
  color: blue;
}
li:last-child {
  background-color: brown;
} */
li:nth-child(4) {
  color: aquamarine;
}
