.container {
  width: 90%;
  height: 600px;
  background-color: gray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  /* transition: 1s; */
  /* duration-nece saniyede bas vermesini isteyirikse */
  /* transition-duration: 5s; */
  /* delay-ne qeder gecikmesini isteyirikse */
  /* transition-delay: 3s; */
  /* hansi propertyinin hereket etdirmek isteyirikse onu yaziriq default olaraq all-dur */
  /* transition-property: all; */
  /* transition-timing-function: ease; */
  /* transition:  property duration delay timing-function*/
  transition: all 3s 2s linear;
}
.box:hover {
  background-color: red;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
