/* body {
  background-color: aqua;
} */
.box {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 0, 0);
  /* opacity: 0.4; */
  background-image: url("./../images/emoji-removebg-preview.png"),
    url("./../images/qarisiq\ rengler.jpg");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  border: 40px dashed black;
  background-origin: border-box;
  /* background: rgb(200, 198, 237);
  background: linear-gradient(
    9deg,
    rgba(200, 198, 237, 1) 0%,
    rgba(23, 20, 172, 1) 24%,
    rgba(209, 21, 21, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.box2 {
  background: yellow url("./../images/selena.jpg") no-repeat center;
}

/* .box2 {
  opacity: 1;
} */
/* .box h1 {
  color: white;
}
.box2 {
  width: 100%;
  height: 200px;
  background-color: yellow;
}  */
